@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BlackItalic';
    src: url('/front-end/public/font/Be_Vietnam_Pro/BeVietnamPro-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('/front-end/public/font/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SemiBold';
  src: url('/front-end/public/font/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}